{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "react-app",
        "eslint:recommended"
    ],
    "plugins": [
        "react"
    ],
    "rules":  {}
}