{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "react-app",
        "plugin:import/typescript",
        "eslint:recommended"
    ],
    
    "parserOptions": {
        "parser": "@typescript-eslint/parser"
    },
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "rules":  {}
}